
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: url('https://c.stocksy.com/a/PWH700/z9/1735653.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
 /* Giving our navbar some padding and a background color */
  navbar {
    background: white;
  }

  .col-md-12.col-md-3 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }

  .container {
    background: white;

  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 25%;

  }
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
   h1 {
    color:green;
    text-align: left;
  }

  p {
    color:green;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  
  #nav-select {
    visibility: visible;
  }
  
  /* Adding media queries */
  @media (max-width: 400px) {

    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        background: green;

    }
    
    .collapse.in{
        display:block !important;
    }
}